

.bit-button {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: 'VT323', cursive;
    text-decoration: none; 
    color: #00F7FF;
    border: #00F7FF 2px solid;
    background-color: black;
}
@mixin other( $width, $color, $bgcolor ) {
  box-shadow:
    4*$width 0 $bgcolor, 
    -4*$width 0 $bgcolor, 
    0 (-4*$width) $bgcolor, 
    0 4*$width $bgcolor,
    $width 0 0 2*$width $bgcolor,
    -$width 0 0 2*$width $bgcolor,
    0 (-$width) 0 2*$width $bgcolor,
    0 $width 0 2*$width $bgcolor,
    5*$width 0 $color, 
    -5*$width 0 $color,
    0 (-5*$width) $color, 
    0 5*$width $color,
    0 0 0 3*$width $color,
    0 2*$width 0 2*$width $color,
    0 (-2*$width) 0 2*$width $color,
    2*$width 0 0 2*$width $color,
    (-2*$width) 0 0 2*$width $color;
    margin: 5*$width auto;
}
.dialog {
    opacity: 0;
    position: absolute;
    left: 25%;
    top: 30%;
    background: black;
    color: black;
    font-size: 20px;
    line-height: 120px;
    text-align: center;
    width: 250px;
    height: 120px;
    box-sizing: border-box;
    padding: .4em 1.3em; 
     display: inline-block; 
     text-align: center;
     @include other( 4px,#00E436, black );
     
&::after{
    content: 'gg';
    position: absolute;
    z-index: 1;
    border-style: solid;
    border-color:#00E436;
    border-width: 0 4 4 0;
    bottom: -20px;
    left: 266px;
    background-color: black;
    margin-left: -20px;
}

}

.console{
background-color: black;
width: 364px;
height: 311px;
position: relative;
left:68px;
top:54px;
background-color: black;
color: #00E436;
font-family: 'VT323', cursive;
overflow-y: scroll;
white-space: pre;
z-index: 2;
font-size:20px; 
padding: 0;
line-height: 10px;

}


.input{
position: relative;

#txt{
width: 100%;
background-color: black;
color: #00E436;
border: none;
font-family: 'VT323', cursive;
font-size:20px; 
}


#txt:focus {outline:none!important;}
}

.output{
    font-family: 'VT323', cursive;
    background-color: black;
     color: #00E436;
    padding: 0;
    margin: 3px;
    line-height: 10px;
    font-size:20px; 
}

.input-line{
padding: 0;
margin: 0;
position: relative;
bottom: 25px;
}

#content{
    font-size:20px; 
color: #00E436;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
   
::-webkit-scrollbar-thumb {
    background-color: #00E436; 
  }
  ::-webkit-scrollbar-corner {

    background-color: black;
    }
  
